html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#map {
  height: 100%;
  width: 100%;
}
#inputs {
  position: absolute; top: 10px; left: 10px;
  z-index: 5; background: white; padding: 10px; border-radius: 8px;
}
#overlay {
  position: absolute; bottom: 10px; left: 10px;
  background: rgba(255,255,255,0.9); padding: 10px; border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
#alert { color: red; font-weight: bold; }